$color-black: #232323;
$color-black-2: #0A100D;
$color-yello: #FFCC00;
$color-green: #8ACB88;
$color-grey: #545454;
$color-red: #F25F5C;
$color-blue: #4FB0C6;
$color-light-grey: #F2F2F2;

html {
  height: 100%;
}
body {
  min-height: 100%;
  background-color: $color-light-grey;
}

.is-active {
  background-color: $color-blue;
  cursor: pointer;
} 

.pagination-link.is-current {
    background-color: $color-blue;
    border-color: $color-blue;
    color: #fff;
}

.button.is-info {
    background-color: $color-blue;
}
.button.is-info {
    background-color: $color-blue;
    border-color: transparent;
    color: #fff;
}

.button.is-success {
    background-color: $color-green;
    border-color: transparent;
    color: #fff;
}

.is-danger {
  color: $color-red;
  background-color: $color-red;
}

.button.is-danger {
  background-color: $color-red;
  border-color: transparent;
  color: #fff;
}

.button.is-danger.is-outlined {
  background-color: transparent;
  border-color: $color-red;
  color: $color-red;
} 

.button.is-danger:hover,
.button.is-danger.is-hovered {
  background-color: $color-red;
  border-color: transparent;
  color: #fff;
}

.icon-button .icon:first-child:last-child {
    margin-left: calc(-0.5em - 2px);
    margin-right: calc(-0.5em - 10px);
}

.main {
    min-height: 100%;
}

.menu-list a.is-active {
    background-color: $color-blue;
    color: #fff;
} 

.menu-list a {
    font-size: 18px;
} 

.button.is-link {
    background-color: $color-blue;
}

.button.is-primary {
	background-color: $color-green;
}

.button.is-danger {
    background-color: $color-red;
}

.button.is-info {
    background-color: $color-blue;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color: yello;
}